// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
//admin-lte
@import '~admin-lte/dist/css/adminlte.css';


//Fonts Awesome
$fa-font-path:        "../webfonts";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

.router-link-exact-active{
    color:white !important;
    background-color: rgb(87, 114, 204);

}

.pic{
    width: 70px;
    height: 70px;
    border-radius: 4px;
}
.wrapper{
    overflow-y: auto;
    // Tip to mobile
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -overflow-scrolling: touch;
    

}
/*td:hover{
   transform: scale(2.0); 
    font-size: large;
}*/.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid rgb(83, 83, 206);
    border-right: 16px solid rgb(45, 134, 45);
    border-bottom: 16px solid rgb(224, 8, 8);
    border-left: 16px solid rgb(255, 239, 17);
    width: 120px;
    height: 120px;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .small-box .icon {
    font-size: 50px;
}
.level1{
  background-color: green;
  color:green;
  
}
.level2{
  background-color: rgb(202, 135, 34);
  color:rgb(202, 135, 34);
}
.level3{
  background-color: rgb(215, 243, 53);
  color:rgb(215, 243, 53);
}
.level4{
  background-color: rgb(206, 16, 16);
  color:rgb(206, 16, 16);
}
.not-found{
background: url(('../img/assets/img/Not Found.png'));
}
.bg-theme{
  background: rgb(23,95,102) !important;
  background: linear-gradient(59deg, rgba(23,95,102,1) 17%, rgba(35,66,27,1) 100%) !important;
}
.bg-theme-light{
  background: rgb(23,95,102);
  background: linear-gradient(59deg, rgba(7, 35, 37, 0.9) 17%, rgba(16, 32, 11, 0.9) 100%),url('../img/assets/img/bg-theme-ligh.jpg');
  //background: linear-gradient(59deg, rgba(23,95,102,0.9) 17%, rgba(35,66,27,0.9) 100%);
}
.text-bright{
  color: rgb(212, 212, 186) !important;
}
.f-input {
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: groove !important;
  border-radius: 0px;
  border-color: rgb(23,95,102) !important;
  
}
.text-primarry{
  color:rgba(48, 167, 52, 0.7);
}
.text-theme1{
  color: rgb(23,95,102) !important;
}
.text-theme2{
  color:rgba(35,66,27)!important;
}
.align-left{
  margin-left: 0px;
  margin-right:100%;
 
}
.align-right{
  margin-left: 100%;
  margin-right:0px;
}
.text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  
}
.text-overflow:hover{
  overflow: visible;
}